.inputArea {
  width: '100%';
  height: '30dvh';
}

.globeArea {
  width: '100%';
  height: '70dvh';
}

@media screen and (min-width: 1024px) {
  .inputArea {
    width: '100%';
    height: '20dvh';
  }
  .globeArea {
    width: '100%';
    height: '80dvh';
  }
}
